body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.horizontal-Menu-Option{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    padding:20px; 
}

.vertical-change-page{
    display: flex;
    flex-direction: column

}

.vertical-head-body-allign{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.main-info{
    margin:auto
}

.change-page-text{
    padding: 0px;
    margin-top: 0px;
}


.info-content{
    display: flex;
    /* margin:auto; */
    justify-content: center;
    align-items: center;
    flex-grow:  1;
}
