body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.horizontal-Menu-Option{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px; 
    border: 1px solid black;
}

.vertical-change-page{
    display: flex;
    flex-direction: column;

}

.vertical-head-body-allign{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.main-info{
    margin:auto;
    
}



.change-page-text{
    padding: 0px;
    margin-top: 0px;
}


.info-content{
    display: flex;
    flex-direction: row;
    /* margin:auto; */
    /* justify-content: center;
    align-items: center; */
    flex-grow:  1;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}

.info-content-main-info{
    flex: 2.75;
    border: 1px solid black;
}

.info-content-secondary-info{
    flex: 1.25;
    border: 1px solid black;
}



.info-content-secondary-info{
    display:flex;
    align-items: center; /*Able to modify the height, not default = stretch on parent */
    flex-direction: column;
    
}

.profile-picture{
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.secondary-info-default-font{
    font-size: 80%   /* WARNING: Font size percentage different given different viewpoints */
}